<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
            http://www.springframework.org/schema/mvc 
            http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-4.0.xsd ">
            
    <!-- 启用mvc注解 -->
	<mvc:annotation-driven>
		<mvc:message-converters>  
          <bean class="org.springframework.http.converter.StringHttpMessageConverter">  
              <property name="supportedMediaTypes">  
                  <list>  
                    <value>text/html;charset=UTF-8</value>  
                      <value>application/json;charset=UTF-8</value>  
                      <value>*/*;charset=UTF-8</value>  
                  </list>  
              </property>  
          </bean>  
      </mvc:message-converters>
	</mvc:annotation-driven>
	<!-- 扫描包 -->
	<context:component-scan base-package="com.project" />

	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="1024000000000"/>
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
</beans>